@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box; 
}
*{
    margin: 0px;
    padding: 0px;
    /* box-shadow: 0px 0px 0px 1px rgba(255, 99, 85, 0.192); */
}
html{
    scroll-behavior: smooth;
}

/* Estilo Geral */
body{    
  background-image: url(/img/fundo2.jpg);
} 

li{
    list-style: none;
    font-family: var(--font2);
    color: white;
}
a{
    font-family: var(--font2);
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: var(--colorBlue-dark);
}
h2{
    color: var(--colorBlue-dark);
    font-family: var(--font3);
    font-size: 2rem;
    letter-spacing: 0.2rem;
}
h3{
    /* color: var(--colorBlue-dark); */
    font-family: var(--font3);
    font-size: 1.3rem;
}
h4{
    font-family: var(--font2);
    font-weight: lighter;
    color: white;
}
hr{
    border: none;
    max-width: 1500px;
    
    height: 2px;
    background-color: var(--colorBlue-dark);
    margin: 20px auto;
}

:root{
    /* color */
    --colorBlue-dark:rgb(4,139,162);
    --colorBlue-ligth:rgb(0, 217, 255);
    --colorGray: #404A53;
    /* font */
    --font1: 'Raleway', sans-serif;
    --font2: 'Lato', sans-serif;
    --font3: 'Oswald', sans-serif;
}

/* Header */
.menu-bg{
    background-color: var(--colorGray);
    padding: 10px;
}
.menu{
    display: flex;
    max-width: 1100px;
    height: 70px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.menu__logo{
    color: rgb(250, 250, 250);
    font-size: 2rem;
}

.nav__list{
    display: flex;
    flex-wrap: wrap;
} 
.nav__link{
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding:5px 20px;
    margin: 5px;

    position: relative;
}
.nav__link:before,
.nav__link:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0;
    transition:transform 0.3s ease-in-out;
}
.nav__link:before{
    border-left: 1px solid var(--colorBlue-dark);
    border-right: 1px solid var(--colorBlue-dark);
    transform: scaleY(0);
}
.nav__link:after{
    border-top: 1px solid var(--colorBlue-dark);
    border-bottom: 1px solid var(--colorBlue-dark);
    transform: scaleX(0);
}
.nav__link:hover::before{
    transform: scaleY(1);
}
.nav__link:hover::after{
    transform: scaleX(1);
}

/* sobre */

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0px;
    flex-wrap: wrap;
}
.sobre__description{
    flex: 6 1 160px;
    flex-wrap: wrap;
}
.sobre__description .sobre__description-titulo p{
    color: var(--colorBlue-dark);
}
.sobre__description-name{
    display: flex;
    width:100%;
    margin: 0 auto;
    padding:0px 5px;
    justify-content: center;
    font-family:var(--font2);
    font-size: 2.5rem;
    line-height: 60px;
    color: #686868
}
.sobre__description-titulo{
    display: flex;
    max-width: 460px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding:0px 5px;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: var(--font2);
    justify-content: flex-end;
}
.git{
    display: flex;
    justify-content: center;
}
.git a{
   
    width: 42px;
    height: 48px;
   
    color: #686868;
}
.git a:hover{
    color: var(--colorBlue-dark);
}
.sobre__description-texto{
    width: 100%;
    margin-top: 50px;
    padding: 5px;
}
.sobre__description  p{
    /* display: flex; */
    text-align: center;
    font-size: 1.1rem;
    /* color: white; */
    color: rgb(90, 90, 90);

}
.sobre__img{
    width: 210px;
    height: 210px;
    margin: 30px 0px 30px 0px;
    border: 1px solid rgb(93, 93, 228);
    border-radius: 50%;
    object-fit: contain;
    overflow: hidden;
}
 .sobre__img img{
    max-width: 240px;
} 
.conhecimentos{
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 0px;
}
.conhecimentos__titulo{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.conhecimentos__titulo h3{
    color:var(--colorBlue-dark);
    padding: 10px;
    font-size: 2rem;
}
.conhecimentos__tec{
    margin: 20px auto;
}
.tecnologias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin: 10px 0px;  
}
.tecnologias li{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--colorBlue-dark);
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0px 10px;
    justify-content: center;
    font-family: var(--font3);
    letter-spacing: 0.1rem;
    width: 105px;
    padding: 5px;
}
/* Portifolio */
.portifolio{
    margin-bottom: 20px;
}
.portifolio__titulo{
    display: flex;
    max-width: 1100px;
    margin: 15px auto;
    justify-content: center;
}
.portifolio__titulo h3{
    margin: 20px;
    padding: 10px;
    font-size: 2rem;
}
.portifolio-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    gap: 20px;  
}
.portifolio-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
}
.portifolio-img{
    display: flex;
    width: 430px;
    height: 305px;
    box-shadow: 2px 2px 7px #00000073;
}
.portifolio-img img{
    display: flex;
    object-fit: cover;
    width: 100%;
}
.portifolio-content1{
    position: absolute;
    display: flex;  
    width: 430px;
    height: 305px;
    overflow: hidden;
}

.portifolio-content2{
    position: absolute;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    padding: 35px 10px 10px 10px;
    bottom: 610px;
    backdrop-filter:  brightness(50%);
    transition: bottom 0.9s;
    transition-timing-function: ease;
    z-index: 10;
}
.line hr{
    width: 100%;
    height: 1px;
    margin: 5px 0px;
    background-color: rgba(255, 255, 255, 0.329);
}
.portifolio-content1:hover .portifolio-content2{
    bottom: 0px;  
}
.portifolio-contentText > h4{
    font-size: 1.1rem;
}
.portifolio-texto{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 5px 20px 20px 20px;
    padding: 5px 10px 10px 10px;
    
}
.portifolio-texto p{
    color: rgba(63, 61, 61, 0.911);
    padding-top: 1px;
    font-family: var(--font3);
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.portifolio-btn{
    display: flex;
    justify-content: center;
    margin-top: 45px;

}
.portifolio-btn button{
    padding: 5px 10px;
    border: none;
    background-color:var(--colorBlue-ligth);
    color: black;
    font-family: var(--font3);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
}


/* Footer */
footer{
    background-color: var(--colorGray);
}
.footer_container{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    align-items: center; 
}
.contato{
    min-width: 242px;
    margin: 10px 10px 10px 0px;
}
.contato h3,p{
    color: white;
    font-family: var(--font2);
}
.contato > hr{
    max-width: 50px;
    margin: 10px 0px;
}
.contato a{
    color: white;
    font-weight: normal;
}
.contato a:hover{
    cursor: pointer;
    color: var(--colorBlue-dark);
}
.contato_copy{
    min-width: 300px;
}
.contato a:hover p{
    cursor: pointer;
    color: var(--colorBlue-dark);
}
#modal-img{
    width: 60vw;
    border: 2px solid white;
}
.modal{
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, .7);
   position: fixed;
   visibility: hidden;
   z-index: 99999;
   opacity: 0; 
   top: 0;
}
.modal span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid white;
}
.btn-close{
    
    font-size: 1.3rem;
    font-family: var(--font2);
    color: white;

}  
.conteudo-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.modal_active {
    display: flex;
    visibility: visible;
    opacity: 1;
    justify-content: center;  
}
 

/* @media screen and (max-width: 575px){
    .footer_container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
} */


@media screen and (max-width: 593px){
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
    }
    .nav__list{
        margin-bottom: 20px;
    }
    .portifolio-container{
        display: block;
    }
    .nav__link{
        padding: 0px 5px;
    }
    .sobre__description-name{
        font-size: 1.7rem;
    }
    .sobre__description-titulo{
        max-width: 320px;
    }
    .sobre__description  p{
        text-align: justify;
    }
    .portifolio-img{
        max-width: 330px;
        max-height: 234px;
        
    }
    .portifolio-content1{
        max-width: 330px;
        max-height: 234px;
    }
    .footer_container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer_container .contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    .contato > h3{
        margin-bottom: 10px;

    }
    .contato > hr{
        display: none;
    }
    .footer_container .contato_copy{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        margin: 10px;
        
    }
}


