*,
*::after,
*::before{
    box-sizing: border-box;
}
*{box-shadow: 0px 0px 0px 1px rgba(255, 99, 85, 0.582);}

/* Estilo Geral */
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Header */
.menu{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
}
.nav__list{
    display: flex;
} 
.nav__link{
    padding:0px 20px;
}
/* sobre */
.sobre{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    
}
.description{
    /* display: flex; */
    /* flex-direction: column; */
    flex: 6 1 160px;
    flex-wrap: wrap;
}
.sobre img{
    /* display: block; */
  /*   min-width: 300px; */
  flex: 1 1 250px;
}
.conhecimentos{
    max-width: 1100px;
    /* display: flex; */
    margin: 0 auto;
    /* justify-content: center; */
}
.tecnologia__titulo{
    display: flex;
    justify-content: center;
}
.tecnologias{
    display: flex;
    justify-content: center;
    
}
.tecnologias li{
     padding: 0px 20px 0px 20px;
}