*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 1px rgba(255, 99, 85, 0.116); 

}
li{
    list-style: none;;
}



body{
    /* display: flex; */
    background: lightskyblue;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
}
/* .container{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}
.container .card{
    position: relative;
    width: 310px;
    height: 412px;
    margin: 20px;
    overflow: hidden;

}
.container .card .content{
    position: absolute;
    bottom: 412px;
    width: 100%;
    height: 100%;
    z-index: 10;
    backdrop-filter: brightness(50%);
    transition: bottom 0.5s;
}
.container .card:hover .content{
    bottom: 0px;
} */
/* .conteudo{
    max-width: 1900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    gap: 20px;
    justify-content: center;
    padding: 10px;
}
.card{
    background: white;
    padding: 20px 20px 20px;
}
.foto{
    width: 100%;
    height: 305px;
    object-fit: cover;
} */

.container{
    display: flex;
    justify-content: center;
}
.img{
    width: 430px;
    height: 305px;
    overflow: hidden;
    margin: 25px;
}
.teste{
    width: 430px;
    /* height: 100%; */
    cursor: pointer;
    transition: 0.4s;
    
}
.teste:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
#modal_img{
    width: 30vw;
    transform: scale(0);
}
.modal_active #modal_img{
    transform: scale(1);

}
.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
}
.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#btn_close{
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;

}
.modal_active{
    visibility: visible;
    opacity: 1;
}