*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 1px rgba(255, 99, 85, 0.568); 

}
li{
    list-style: none;;
}



body{
    /* display: flex; */
    background: lightskyblue;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
}
/* .container{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}
.container .card{
    position: relative;
    width: 310px;
    height: 412px;
    margin: 20px;
    overflow: hidden;

}
.container .card .content{
    position: absolute;
    bottom: 412px;
    width: 100%;
    height: 100%;
    z-index: 10;
    backdrop-filter: brightness(50%);
    transition: bottom 0.5s;
}
.container .card:hover .content{
    bottom: 0px;
} */
/* .conteudo{
    max-width: 1900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    gap: 20px;
    justify-content: center;
    padding: 10px;
}
.card{
    background: white;
    padding: 20px 20px 20px;
}
.foto{
    width: 100%;
    height: 305px;
    object-fit: cover;
} */

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: 10px;
    margin-top: 20px;
}
 .wrapper{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
 .content-img{
    /* display: flex;
    justify-content: center; */
    
    width: 430px;
    height: 305px;
    overflow: hidden;
    /* margin: 25px; */
} 

.small{
    width: 430px;
   /*  height: 100%; */
}

/* .tamanho{
    object-fit: cover;
    object-position: top;
} */ /*  
.img img{
    display: flex;
    object-fit: cover;
    width: 100%;
    

} */
.content-info{
    position: absolute;
    display: flex;
    width: 430px;
    height: 305px;
    overflow: hidden;
    top: 0;
}
.content-info2{
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 35px 10px 10px 10px;
    bottom: 610px;
    backdrop-filter:  brightness(50%);
    transition: bottom 0.9s;
}
.texto{
    
}
.content-info:hover .content-info2{
    bottom: 0px;
}
.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
}
#modal-img{
    width: 65vw;
   /*  height: 91vh;
    object-fit: cover;
    object-position: top;
    overflow: scroll; */
}
.conteudo-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    
    position: absolute;
    top: 8%;
}
.modal_active{
    visibility: visible;
    opacity: 1;
    /* position: absolute; */
    top: 0px;
    display: flex;
    justify-content: center;
}